@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
 /*--main-color: #f5ba13;*/
 --main-color: #fff;
 --accent-color:  #00897b;
 
 --font-color: #fff;
 --font-color-light: rgb(0, 0, 0);
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  background: var(--main-color);
  padding: 0 16px;
}

header {
  background-color: var(--accent-color);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color:var(--font-color);
  font-weight: 200;
}

header h1 img{
  color: var(--font-color);
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: var(--font-color-light);
}
.note {
  background: var(--main-color);
  border-radius: 7px;
  box-shadow: 0 2px 5px var(--font-color-light);
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: var(--accent-color);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: var(--main-color);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: var(--main-color);
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: var(--accent-color);
  color: var(--main-color);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
